@using Microsoft.AspNetCore.Http
@model Products

@foreach(var product in @ViewBag.products){
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>@product.name</h1>
    </div>
</div>
<!--end breadcrumb-->

<div class="space-60"></div>
<div class="container body-content">
    <div class="row single-product">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div id="product-single" class="owl-carousel owl-theme single-product-slider">
                        @foreach(var img in @product.product_img){
                        <div class="item">
                            <a href="@img.img_url" data-lightbox="roadtrip"> <img src="@img.img_url" alt="Product image" class="img-responsive"></a>                              
                        </div>;
                    }
                    </div>
                    @Html.Partial("Forms/ImgAdd", new ViewDataDictionary(ViewData) {{"id",@product.id}} ) 
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"><a href="#">@product.name</a></h3>
                        @if(@product.Prices == null){@Html.Partial("Forms/PricePartial", new ViewDataDictionary(ViewData) {{"id",@product.id}} );}     
                        @if(@product.Prices != null){<span class="price">New Price $@product.Prices.new_price Used Price $@product.Prices.used</span>;}
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <a href="#">Reviews Feature Coming Soon!</a>
                        </span>
                        <p>
                            @product.description
                        </p>
                        <div class="available">
                            <p>Availability: In Stock </p>
                            @foreach(var quantity in @ViewBag.inventory){
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="active">
                                            <th>New Available</th>
                                            <th>Used Available</th>
                                            <th>Need Maintenance</th>
                                            <th>Sold</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="info">@quantity.Inventory.quantity_new </td>
                                            <td class="warning">@quantity.Inventory.quantity_used </td>
                                            <td class="danger">@quantity.Inventory.quantity_defect </td>
                                            <td class="success">@quantity.Inventory.quantity_sold </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>

                            }
                        </div>
                        <div class="tags clearfix">
                            @foreach(var x in @ViewBag.categories){
                                @foreach(var merge in x.product_category){
                                    <a href="/category/@merge.Category.id">@merge.Category.name</a> <a href="/product/@x.id/remove/@merge.id" class="buttons fa fa-trash-o"></a>;
                                }
                            }                       
                            <form action="/products/@product.id/addCategory" method="post" class="form-inline">
                                <div class="form-group">
                                    <label class="select">
                                        <select name="category_id">
                                            <option value="0" selected="" disabled="">Category</option>
                                            @foreach(var x in @ViewBag.all_categories){
                                                <option value="@x.id">@x.name</option>;
                                            }   
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit"><i class="fa fa-plus"></i></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div><!--single product details end-->
        </div>
    </div>
</div>;
}
