@using Microsoft.AspNetCore.Http
@model Products

@foreach(var product in @ViewBag.products){
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>@product.name</h1>
    </div>
</div>
<!--end breadcrumb-->

<div class="space-60"></div>
<div class="container body-content">
    <div class="row single-product">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div id="product-single" class="owl-carousel owl-theme single-product-slider">
                        @foreach(var img in @product.product_img){
                        <div class="item">
                            <a href="@img.img_url" data-lightbox="roadtrip"> <img src="@img.img_url" alt="Product image" class="img-responsive"></a>                              
                        </div>;
                    }
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"><a href="#">@product.name</a></h3>
                        @if(@product.Prices != null){<span class="price"><del>$@product.Prices.new_price</del> $@product.Prices.used</span>;}
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <a href="#">Reviews Feature Coming Soon</a>
                        </span>
                        <p>
                            @product.description
                        </p>
                        <div class="available">
                            <p>Availability: In Stock </p>
                            @foreach(var quantity in @ViewBag.inventory){
                                <p>@quantity.Inventory.quantity_new New Available</p>
                                <p>@quantity.Inventory.quantity_used Used Available</p>;
                            }
                        </div>
                        <div class="tags clearfix">
                            @foreach(var x in @ViewBag.categories){
                                @foreach(var merge in x.product_category){
                                    <a href="/category/@merge.Category.id">@merge.Category.name</a>;
                                }
                            }                       
                        </div>
                        
                        <div class="add-buttons">
                            <a href="#" class="btn btn-border btn-lg" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart"></i></a>
                            <a href="#" class="btn btn-border btn-lg"  data-toggle="tooltip" data-placement="top" title="Add to Compare"><i class="fa fa-random"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to cart" class="btn btn-skin btn-lg"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div><!--single product details end-->
        </div>
    </div>
</div>;
}