@model SurveyData

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin: 50px 100px;
            padding: 20px;
            background-color: lightseagreen;
            border-radius: 15px;
        }
    </style>
</head>
<body>

        <h1>Survey Submission</h1>
        <p><b>Name: </b>@Model._name</p>
        <p><b>Email: </b>@Model._email</p>
        <p><b>Dojo Location: </b>@Model._dojo</p>
        <p><b>Favorite Language: </b>@Model._language</p>
        <p><b>Comments: </b>@Model._comments</p>
        <a class='btn btn-danger' href="/">Go back</a>

</body>
